@media(max-width: 991px){
    .adres,
    #contact .headerH3{
        text-align:center;
    }
    
   
    
    #about #photo{
        padding-bottom: 20px;
    }
      footer p{
        padding-left: 0;
        
    }
    
    footer{
        text-align: center ;
    }
    
  
    
}


@media(max-width:767px){
    
     #about div:nth-child(2){
        text-align: center;
    }
    
    .sectionPadding {
    padding: 20px 50px;
}
    
    .portfolio-item-text h5{
        font-size: 12px;
    }
    
    .portfolio-item-text p{
        font-size: 10px ;
    }
    
      .portfolio-item-text i{
        font-size: 10px ;
    }
    
}